{% include "head.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">


<body>
    {% include "cleanheader.html" %}
    <div class="wrapper">
      <div class="left">
        <div class="text">
            <h1>Sobre</h1>
            <!-- <h2>Uma ferramenta integrada com a IA</h2> -->
            <p> O que é o Doiax? O Doiax é a plataforma visual <br />
              que capacita equipes a gerenciar diversos tipos de projetos,<br /> 
              fluxos de trabalho e monitorar tarefas de forma eficiente. <br />
              Integrada à API do ChatGPT, ela vai além. <br />
              <br />
              Faça o cadastro, crie um quadro, e aproveite uma <br />
              experiência aprimorada de colaboração com inteligência artificial.<br />
        </div>
      </div>
    </div>
</body>
</html>