<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para página estática ao CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boards.css') }}">
    <title>Attract IA</title>
</head>
<body>
    <div>
        <h1>Criar Quadro</h1>
    </div>
    {% for board in boards %}
    <div class="board-name">
        {{ board.name }}
    </div>
    {% endfor %}
</body>
</html>