<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cleanheader.css') }}">
</head>
<body>
  
<header>
  <img class="imgtop" src="{{ url_for('static', filename='img/Newlogo.png') }}"> 
    <nav>	
        <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        </div>
      
      <ul class="nav-list">	
        <li id="borda"><a href="{{ url_for('home') }}">Início</a></li>
        <li id="borda"><a href="{{ url_for('about') }}">Sobre</a></li>
        <li id="borda"><a href="{{ url_for('login') }}">Entrar</a></li>
      </ul>
    </nav>
    
  </header>
  
  <main></main>
  <script src="{{ url_for('static', filename='js/mobile-navbar.js') }}"></script>

</body>
</html>