<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para página estática ao CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editprofile.css') }}">
    <title>Attract IA</title>
</head>

<body>
    <!-- Aqui fica o header -->
    {% include "header.html" %}

    <div class="wrapper">
        <form method="POST" action="/editprofile" enctype="multipart/form-data">
            <!-- Seus outros campos de edição de perfil -->
            <div class="form-group">
                <label for="profile_image">Escolher uma nova foto de perfil:</label>
                <input type="file" name="profile_image" id="profile_image" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form> 

        <div class="center">
            <form method="POST" action="/editprofile">
                <div class="username">
                    <h1>Editar foto</h1>
                </div>
                <div class="favorites">
                    <!-- Botão do nome  -->
                    <div class="box-btn">
                        <input value='{{ user.name }}' type="text" placeholder="Nome" name="name" required>
                    </div>
                    <!-- Botão do sobrenome  -->
                    <div class="box-btn">
                        <input value='{{ user.last_name }}' type="text" placeholder="Sobrenome" name="last_name" required>
                    </div>
                    <!-- Botão da data de nascimento  -->
                    <div class="box-btn">
                        <input value='{{ user.birth_date }}' type="date" placeholder="Data de nascimento" name="birth_date"
                            required min="1900-01-01" max="2099-12-31" pattern="\d{4}-\d{2}-\d{2}">
                    </div>
                    <!-- Botão do e-mail -->
                    <div class="box-btn">
                        <input value='{{ user.email }}' type="email" placeholder="E-mail" name="email" required>
                    </div>
                    <!-- Botão da senha -->
                    <div class="box-btn">
                        <input value='{{ user.password}}' type="password" placeholder="Senha" name="password" required>
                    </div>
                    <div class="btns">
                        <button type="submit" class="btn-login">Salvar</button>
                    </div>
                    <div class="btns">
                        <a href="{{ url_for('profile') }}" class="btn-link">Voltar</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</body>

</html>