<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para página estática ao CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editfavorites.css') }}">
    <title>Attract IA</title>
</head>

<body>
    {% include "header.html" %}

    <div class="wrapper">
        <div class="box-grl">
            <div class="box">
                <div class="img"><img class="imgquadro" src="{{ url_for('static', filename='img/Perfil.jpg') }}"></div>
                <div class="namebox"><h2> Quadro 1 </h2></div>
                <div class="arrow"></div><p> Seta</p></div>
            
            <div class="box">
                <div class="img"><img class="imgquadro" src="{{ url_for('static', filename='img/Perfil.jpg') }}"></div>
                <div class="namebox"><h2> Quadro 2 </h2></div>
                <div class="arrow"></div><p> Seta</p></div>
            
            <div class="box">
                <div class="img"><img class="imgquadro" src="{{ url_for('static', filename='img/Perfil.jpg') }}"></div>
                <div class="namebox"><h2> Quadro 3 </h2></div>
                <div class="arrow"></div><p> Seta</p></div>
        </div> 
            <div class="btns">
                <a href="{{ url_for('profile') }}" class="btn-link">Salvar</a>
            </div>
        </div>
</body>