<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para página estática ao CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listboards.css') }}">
    <script src="https://kit.fontawesome.com/a0954ea3b6.js" crossorigin="anonymous"></script>
    <title>Attract IA</title>
</head>

<body>
    {% include "header.html" %}
    <div class="container">
        <div id="quadros" class="new">
            <div class="backboards">
            <a href="{{ url_for('boards') }}" class="effect1">
                <i class="label"><</i>
                <h5>Criar</h5>
            </a>
        </div>
            {% for board in boards %}
            <div class="boards">
                <div class="card-image">
                    <label class="card-label">
                        <figure class="personal-figure">
                            <img class="card-personal-avatar" alt="avatar"
                                src="{{ url_for('static', filename='img/Perfil2.png') }}">
                                <p> {{ board.name | limit_length(15) }} </p>
                        </figure>
                    </label>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
 
</body>
</html>
