{% include "head.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/listboards.css') }}">


<body>
    {% include "header.html" %}
    <div class="container">
        <div id="quadros" class="new">
            <div class="backboards">
            <a href="{{ url_for('boards') }}" class="effect1">
                <i class="label"><</i>
                <h5>Criar</h5>
            </a>
        </div>
            {% for board in boards %}
            <div onclick="redirectBoard('{{ board.id }}')" class="boards">
                <div class="card-image">
                    <label class="card-label">
                        <figure class="personal-figure">
                            <img class="card-personal-avatar" alt="avatar"
                                src="{{ url_for('static', filename='img/Perfil2.png') }}">
                                <p> {{ board.name | limit_length(15) }} </p>
                        </figure>
                    </label>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    
    <script>
        function redirectBoard(id){
            window.location.href = "/boards/inside/" + id;
        };
    </script>
</body>
</html>
