<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para página estática ao CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>Attract IA</title>
</head>

<body>
    <!-- Aqui fica o header -->
    {% include "header.html" %}

    <!-- Aqui fica a parte do body com o card transparente -->
    <div class="wrapper">
        <div class="personal-image">
            <label class="label">
                <figure class="personal-figure">
                    <img class="personal-avatar" alt="avatar" src="{{ url_for('static', filename='img/Perfil.jpg') }}">
                </figure>
            </label>
        </div>

        <div class="center">
            <div class="username">
                <h1>{{ name }} {{ last_name }}</h1>
                <p>@{{ username }}</p>
            </div>
            <div class="favorites">
                <h2>Quadros favoritos:</h2>
                <div class="img-favorites">
                    <img class="fav-img" src="{{ url_for('static', filename='img/Perfil.jpg') }}">
                    <a class="dots">.</a>
                    <img class="fav-img" src="{{ url_for('static', filename='img/Perfil.jpg') }}">
                    <a class="dots">.</a>
                    <img class="fav-img" src="{{ url_for('static', filename='img/Perfil.jpg') }}">
                </div>
            <div class="buttons">
                <a href="{{ url_for('editprofile') }}" class="btn-link">Editar perfil</a>
                <a href="{{ url_for('editfavorites') }}" class="btn-link">Editar favoritos</a>
            </div>
        </div>

    </div>
</body>
</html>