<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para página estática ao CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetpassword.css') }}">
    <title>Attract IA</title>

</head>

<body>
    <div class="wrapper">
        <form action="">
            <h1>Esqueceu sua senha?</h1>
            <p> Não se preocupe, vamos enviar um
                e-mail contendo as instruções para
                serem seguidas. </p>
            <div class="box-btn">
            <input type="text" placeholder="E-mail cadastrado" required> 
            </div>
            <button type= "submit" class="btn-submit">Enviar!</button>
            
        </form>

        <div class="page-init">
            <a href="{{ url_for('login') }}">Voltar a página de ínicio</a>
        </div>
    </div>
</body>
</html>