{% include "head.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/resetpassword.css') }}">


<body>
    <div class="wrapper">
        {% if email_sent %}
            <div class="email-sent-message">
                <p>Um e-mail foi enviado para o endereço fornecido. Verifique sua caixa de entrada para obter mais instruções.</p>
            </div>
        {% else %}
            <form action="{{ url_for('resetpassword') }}" method="post">
                <h1>Esqueceu sua senha?</h1>
                <p> Não se preocupe, vamos enviar um e-mail contendo as instruções para serem seguidas. </p>
                <div class="box-btn">
                    <input type="email" name="email" placeholder="E-mail cadastrado" required> 
                </div>
                <button type="submit" class="btn-submit">Enviar!</button>
            </form>
        {% endif %}

        <div class="page-init">
            <a href="{{ url_for('login') }}">Voltar à página de ínicio</a>
        </div>
    </div>
</body>

</html>