{% include "head.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">

<body>
    <form action="/createboard" method="POST">
    <div class="wrapper">
        <!-- Div das coisas a Esquerda -->
        <div class="left">
            <h1>Olá, {{ usuario.username }} </h1>
            <div class="personal-image">
                <label class="label">
                  <input type="file" />
                  <figure class="personal-figure">
                    <img class="personal-avatar" alt="avatar" src="{{ url_for('static', filename='img/Perfil.jpg') }}">
                    <figcaption class="personal-figcaption">
                     <img src="{{ url_for('static', filename='img/TradePerfil.png') }}">
                    </figcaption>
                  </figure>
                </label>
              </div>

              <p class="text-box">Selecione a foto<br/>do seu quadro</p>
        </div>

        <!-- Demarcador -->
        <div class="box"></div>
        <div class="box linha-vertical"></div>

        
        <!-- Div das coisas a Direita -->
        <div class="right">
            <h1>SEJA BEM-VINDO AO DOIAX</h1>
            <h2>VAMOS COMEÇAR?</h2>
            <div class="text-p"><p>Dê um nome para o seu primeiro quadro!</p>
            </div>
            <div class="box-btn">
                <input maxlength="255" type="text" id="name" name="name" placeholder="Nome do quadro" required> 
            </div>
            <button type= "submit" class="btn-create" maxLength="255">CRIAR</button>
        </div>
    </form>
    </div>

</body>
</html>