@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display&display=swap');

/* CSS Rules for font 
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/static/img/Background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 1300px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    display: flex;
}
.wrapper h1{
    margin-bottom: 30px;
    font-weight: 300;
}

.text-box{
    font-weight: 300;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.left{
    display: block;
    width: 400px;
    height: 600px;
    justify-content: center;
    padding-top: 120px;
}

.personal-image {
    text-align: center;
    display: inline-block;
  }
  .personal-image input[type="file"] {
    display: none;
  }

  .personal-figure {
    position: relative;
    width: 170px;
    height: 170px;
  }
  .personal-avatar {
    cursor: pointer;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .1s;
  }
  .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal-figcaption > img {
    margin-top: 60px;
    width: 50px;
    height: 50px;
  }

  .box {
    padding-top: 300px;
    float: left;
    height: 350px;/*Altura da linha*/
   }
   
   .linha-vertical {
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    margin-top: 90px;
   }

   .right{
    display: flex;
    height: 600px;
    justify-content: center;
    padding-top: 150px;
    padding-left: 50px;
    
}
.right h1{
    display: flex;
    font-weight: 600;
}

.right h2{
    font-weight: 500;
    margin-top: 70px;
    display: flex;
}

.right p{
    margin-top: 5px;
    font-size: 35px;
}

.p1{
    font-weight: 200;
} .p2{
    display: flex;
    font-weight: 400;
}

.btn-create {
    width: 40%;
    margin: 0 auto;
    height: 40px;
    font-size: 18px;
    background-color: #7D52B4;
    outline: none;
    border-radius: 15px;
    border-color: transparent;
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    margin-top: 30px;
}

.wrapper .box-btn {
    position: relative;
    width: 100%;
    margin: 20px 0;
    height: 50px;
}

.box-btn input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.box-btn input::placeholder{
    color: #ebebeb;
    opacity: 100%;
}

button:hover{
	transition: all 0.01s;
	background: white;
	color: #2D2A3B;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}